html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}mark{background:#ff0;color:#000}a{background:transparent}
abbr[title]{border-bottom:1px dotted}code,kbd,pre,samp{font-size:1em;white-space: pre-line;white-space: pre-wrap;font-family: Consolas, 'DejaVu Sans Mono', Courier, monospace;line-height: normal;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}a:active,a:hover,button,button:focus,button:active,[type="submit"],[type="submit"]:focus,[type="submit"]:active{cursor:pointer;outline:0}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible;-webkit-appearance:none;}button,select{text-transform:none}input{line-height:normal;-webkit-appearance:none;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}optgroup{font-weight:bold}textarea{overflow:auto}b,strong{font-weight:bold}
i,em,dfn,.italic,address,cite,var{font-style:italic}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
img,table,td,blockquote,code,pre,textarea,input,video{max-width: 100%;}


/* -------------------- GLOBAL -------------------- */

html {
	font-family: sans-serif;
	font-size: 62.5%;
	font-size: -webkit-calc(0.625em);
	font-size: calc(0.625em);
	height: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	background: #5f2108 url('../images/bg.jpg') no-repeat center center;
	background-size: cover;
	color: #000000;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.4rem;
	line-height: 1.5;
	height: 100%;
}
.global {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
}



/* -------------------- HP -------------------- */

.hp {
	cursor: pointer;
	height: 100%;
	position: absolute;
	top: 0; 
	width: 50%;
	z-index: 99999999;
}
.hp1 {
	background: #632e09 url('../images/porte_gauche.jpg') no-repeat right center;
	background-size: cover;
	left: 0;
}
.hp2 {
	background: #632e09 url('../images/porte_droite.jpg') no-repeat left center;
	background-size: cover;
	right: 0;
}
.hp-overlay {
	background: rgba(0, 0, 0, 1);
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
}


/* -------------------- PRODUCTS -------------------- */

.toload.products {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	transform: translateX(100%);
}
.barre {
	background: transparent url('../images/barre.jpg') no-repeat center center;
	background-size: 100% 9px;
	height: 9px;
	position: absolute;
	top: 160px; left: 0; right: 0;
	-webkit-box-shadow: 0 28px 5px rgba(0,0,0,.44);
	-moz-box-shadow: 0 28px 5px rgba(0,0,0,.44);
	box-shadow: 0 28px 5px rgba(0,0,0,.44);
}
.products {
	display: table;
	padding: 0 20px;
	position: absolute;
	top: 180px; left: 0;
	width: 100%;
}
.products .product {
	display: table-cell;
	padding: 0 3%;
	position: relative;
	text-align: center;
	vertical-align: top;
}
.toload .product {
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	transform: rotate(-5deg);
}
.products .product:before {
	background: transparent url('../images/accroche.png') no-repeat top center;
	content: '';
	display: block;
	height: 62px;
	margin-left: -12px;
	position: absolute;
	top: -25px; left: 50%;
	width: 24px;
}
.products .product img {
    -webkit-filter: drop-shadow(0 24px 14px rgba(0,0,0,0.6));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}


/* -------------------- THEME -------------------- */

.theme {
	color: #f2d1b1;
	font-family: 'lobster';
	font-size: 40px;
	line-height: 44px;
	opacity: 0;
	position: absolute;
	top: 32px; left: 0; right: 0;
	text-align: center;
	text-shadow: 1px 0 0 #000;
}


/* -------------------- BUTTONS -------------------- */

.buttons {
	position: absolute;
	bottom: 70px; left: 0; right: 0;
	text-align: center;
}
.buttons select {
	background: rgba(0, 0, 0, 0.4) url('../images/arrow.png') no-repeat center right 13px;
	border-color: #f2d1b1;
	border-radius: 3px;
	color: #f2d1b1;
	display: inline-block;
	font-size: 18px;
	height: 50px;
	outline: none;
	padding: 10px 43px 10px 10px;
	text-align: center;
	vertical-align: middle;
	-webkit-appearance: none;
}
.buttons .input {
	display: inline-block;
	margin-left: 27px;
	padding-left: 31px;
	position: relative;
	vertical-align: middle;
}
.buttons .input:before {
	background: #f2d1b1;
	content: '';
	display: block;
	position: absolute;
	left: 0; top: 5px; bottom: 5px;
	width: 1px;
}
.buttons .input input {
	background: rgba(0, 0, 0, 0.4);
	border: 1px solid #f2d1b1;
	border-radius: 3px;
	color: #f2d1b1;
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	height: 50px;
	outline: none;
	padding: 10px;
	text-align: center;
	width: 200px;
}
.buttons .input .ok {
	height: 50px;
	background: #f2d1b1;
	border: 0;
	border-radius: 3px;
	color: #333333;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	margin-left: 6px;
	vertical-align: middle;
	width: 60px;
}



/* -------------------- OOCSS -------------------- */

.hidden { display: none; }
.display { display: block; }
.left { float: left; }
.right { float: right; }
img.left { margin-right: 1em; }
img.right { margin-left: 1em; }
img.left, img.right { margin-bottom: 0.5em; }
.center { margin-left: auto;margin-right: auto; }
.clearfix { clear: both; }
.txtleft { text-align: left; }
.txtright { text-align: right; }
.txtcenter { text-align: center; }
.txtjustify { text-align: justify; }


/* -------------------- RESPONSIVE -------------------- */

/* DEVICE WIDTH < 820px - PHONES */

@media screen and (max-width: 820px) {
	
	html, body {
		background-attachment: fixed;
		height: auto;
	}
	.global {
		position: static;
	}
	.barre,
	.products .product:before {
		display: none;
	}
	.theme {
		font-size: 30px;
		padding: 15px;
		position: static;
	}
	.products,
	.products .product {
		display: block;
		position: static;
	}
	.products .product {
		padding: 20px;
	}
	.buttons {
		position: static;
	}
	.buttons .input {
		display: block;
		padding: 20px;
		padding-left: 0;
	}
	.buttons .input:before {
		display: none;
	}
	.buttons select {
		font-size: 15px;
	}

}

/* -------------------- FONT FACE -------------------- */

@font-face {
	font-family: 'lobster';
	src: 	url('../fonts/Lobster1-4.eot?#iefix') format('embedded-opentype'),  
			url('../fonts/Lobster1-4.otf')  format('opentype'),
			url('../fonts/Lobster1-4.woff') format('woff'), 
			url('../fonts/Lobster1-4.ttf')  format('truetype'), 
			url('../fonts/Lobster1-4.svg#Lobster1.4') format('svg');
	font-weight: normal;
	font-style: normal;
}